In [66]:
import pandas as pd
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity

In [73]:
item = pd.read_csv('u.item', sep='|', encoding='ISO-8859-1', header=None, names=['movie id', 'movie title', 'release date', 'video release date', 'IMDb URL', 'unknown', 'Action', 'Adventure', 'Animation', "Children's", 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy', 'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western'], usecols=[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23])
item

,movie id,movie title,release date,video release date,IMDb URL,unknown,Action,Adventure,Animation,Children's,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
1,2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,...,0,0,0,0,0,0,0,1,0,0
2,3,Four Rooms (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,4,Get Shorty (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,Copycat (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Copycat%20(1995),0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1677,1678,Mat' i syn (1997),06-Feb-1998,NaN,http://us.imdb.com/M/title-exact?Mat%27+i+syn+...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1678,1679,B. Monkey (1998),06-Feb-1998,NaN,http://us.imdb.com/M/title-exact?B%2E+Monkey+(...,0,0,0,0,0,...,0,0,0,0,0,1,0,1,0,0
1679,1680,Sliding Doors (1998),01-Jan-1998,NaN,http://us.imdb.com/Title?Sliding+Doors+(1998),0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1680,1681,You So Crazy (1994),01-Jan-1994,NaN,http://us.imdb.com/M/title-exact?You%20So%20Cr...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1681,1682,Scream of Stone (Schrei aus Stein) (1991),08-Mar-1996,NaN,http://us.imdb.com/M/title-exact?Schrei%20aus%...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [74]:
df = pd.read_csv('u.data', sep='\t', encoding='ISO-8859-1', header=None,names=['user id' , 'item id' , 'rating' ,'timestamp'])
pivot_table = df.pivot_table(index='user id', columns='item id', values='rating', aggfunc='first')
# Fill missing values with empty strings
pivot_table = pivot_table.fillna(0)
new_data=pd.DataFrame(pivot_table)
new_data

item id,1,2,3,4,5,6,7,8,9,10,...,1673,1674,1675,1676,1677,1678,1679,1680,1681,1682
user id,,,,,,,,,,,,,,,,,,,,,
1,5.0,3.0,4.0,3.0,3.0,5.0,4.0,1.0,5.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,4.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
939,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
940,0.0,0.0,0.0,2.0,0.0,0.0,4.0,5.0,3.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
941,5.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
942,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
943,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
'''
from surprise import SVD
from surprise import Dataset
from surprise.model_selection import train_test_split
import pandas as pd
import numpy as np

# Load the dataset
df = pd.read_csv("u.data.csv")

# Pivot the table
pivot_table = df.pivot_table(index='user_id', columns='movie_id', values='rating', aggfunc='first').fillna(0)

# Convert DataFrame to Surprise dataset
reader = Reader(rating_scale=(1, 5))
data = Dataset.load_from_df(df[['user_id', 'movie_id', 'rating']], reader)

# Train-test split (optional)
trainset, testset = train_test_split(data, test_size=0.2, random_state=42)

# Initialize SVD algorithm
svd = SVD()

# Train the algorithm on the trainset
svd.fit(trainset)

# Initialize an empty matrix for predicted ratings
predicted_ratings_matrix = np.zeros_like(pivot_table, dtype=float)

# Predict ratings for all user-item pairs
for i, user_id in enumerate(pivot_table.index):
    for j, movie_id in enumerate(pivot_table.columns):
        predicted_rating = svd.predict(user_id, movie_id).est
        predicted_ratings_matrix[i, j] = predicted_rating

# Create a DataFrame of predicted ratings
predicted_ratings_df = pd.DataFrame(predicted_ratings_matrix, index=pivot_table.index, columns=pivot_table.columns)

# Display the predicted ratings DataFrame
predicted_ratings_df

predicted_ratings_df.to_csv('predicted_ratings_df.csv', index=False)
'''

In [75]:
predicted_ratind_df=pd.read_csv('predicted_ratings_df.csv')
predicted_ratind_df

,1,2,3,4,5,6,7,8,9,10,...,1673,1674,1675,1676,1677,1678,1679,1680,1681,1682
0,4.473845,3.194566,3.590518,3.245473,2.888090,4.071440,4.193878,3.714554,4.921145,3.781788,...,3.770054,3.549936,3.564449,3.051866,3.435059,3.177758,3.337142,3.435059,3.576285,3.562459
1,3.826489,3.578400,3.516319,3.547966,3.398017,3.826978,4.214368,4.212350,3.837010,4.022627,...,3.367233,3.766100,3.303295,3.219364,3.516860,3.130727,3.375871,3.516860,3.518690,3.440302
2,3.442426,3.034671,3.110458,3.123267,2.902270,3.651361,2.842848,3.689157,3.299118,3.555566,...,3.115576,3.126773,3.239272,2.922069,3.078068,2.931250,2.943951,3.078068,3.264247,3.249980
3,4.577660,4.241159,3.991582,4.522069,4.218044,4.589578,4.334054,5.000000,4.698849,4.735739,...,4.265272,4.269460,4.348136,4.117695,4.327328,4.168593,4.355986,4.327328,4.360779,4.312936
4,3.477234,2.712359,3.078509,3.165177,2.802149,3.797836,3.605914,4.199232,3.397573,2.904231,...,2.821755,3.238523,2.733611,2.550819,3.010714,2.600011,3.045318,3.010714,3.015372,3.163742
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
938,4.878823,4.347259,4.182519,4.477093,4.501586,4.611789,4.822535,5.000000,5.000000,4.817537,...,4.229046,4.358985,4.148136,4.342810,4.392842,4.070113,4.247885,4.392842,4.441261,4.494179
939,3.551637,3.301982,2.813634,3.140718,3.097007,3.484368,3.401033,4.092952,3.668917,3.402192,...,3.060679,3.239762,3.071462,3.070530,3.135610,3.067193,3.231623,3.135610,3.200037,3.132131
940,4.180235,3.551312,3.690726,3.634802,3.752008,4.154636,4.030217,3.931285,4.272104,4.091255,...,3.730153,3.804462,3.788880,3.454208,3.738853,3.658630,3.835920,3.738853,3.855611,3.732577
941,4.497334,3.776016,3.674363,4.297593,3.967719,4.208632,4.066598,4.597376,4.558439,4.386955,...,3.984171,3.881430,3.826212,3.667625,3.962641,3.619437,3.803826,3.962641,3.965202,4.120062
942,3.931129,3.653173,3.384767,3.808896,3.211207,4.057235,4.190234,4.164448,3.361269,3.684066,...,3.635900,3.420532,3.621524,3.149067,3.397226,3.295752,3.339758,3.397226,3.332940,3.297970

In [76]:
pedicted_rating=pd.read_csv('predicted_ratings.csv')
pedicted_rating

         user_id  movie_id    rating
0              1         1  4.242409
1              2         1  4.024576
2              3         1  3.501903
3              4         1  4.908552
4              5         1  3.201692
...          ...       ...       ...
1586121      939      1682  4.376562
1586122      940      1682  3.060423
1586123      941      1682  3.677658
1586124      942      1682  4.011011
1586125      943      1682  3.583891

[1586126 rows x 3 columns]

In [77]:
movies_g=pd.read_csv('movies.csv')
movies_g

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
62418,209157,We (2018),Drama
62419,209159,Window of the Soul (2001),Documentary
62420,209163,Bad Poems (2018),Comedy|Drama
62421,209169,A Girl Thing (2001),(no genres listed)
62422,209171,Women of Devil's Island (1962),Action|Adventure|Drama

In [78]:
new_item=pd.DataFrame()
new_item[['movie id','movie title']]=item[['movie id','movie title']]

x=  item.iloc[:, 2:].apply(lambda x: x.index[x == 1].tolist(), axis=1).tolist()

new_item['genres']=x
new_item

,movie id,movie title,genres
0,1,Toy Story (1995),"[Animation, Children's, Comedy]"
1,2,GoldenEye (1995),"[Action, Adventure, Thriller]"
2,3,Four Rooms (1995),[Thriller]
3,4,Get Shorty (1995),"[Action, Comedy, Drama]"
4,5,Copycat (1995),"[Crime, Drama, Thriller]"
...,...,...,...
1677,1678,Mat' i syn (1997),[Drama]
1678,1679,B. Monkey (1998),"[Romance, Thriller]"
1679,1680,Sliding Doors (1998),"[Drama, Romance]"
1680,1681,You So Crazy (1994),[Comedy]
1681,1682,Scream of Stone (Schrei aus Stein) (1991),[Drama]

In [79]:
#user_id=int(input("Enter User id:"))
#genres=input("Enter geners:")
c_similarity=cosine_similarity(predicted_ratind_df)
def recommend(user_id,genres):
# Calculate cosine c_similarity between users
    

    # Find most similar user
    x=list(sorted(enumerate(c_similarity[user_id-1]), key=lambda x:x[1],reverse=True)[1:2])
    #print(x)


    # Get items rated by both users
    user1_items = set(df[df['user id'] == user_id]['item id']) 
    user2_items = set(df[df['user id'] == x[0][0]+1]['item id'])

    print('Recommend Movie:')

    # Find movies recommended to similar user but not rated by the current user
    intersection_movies = user2_items-user1_items
    #print(intersection_movies)
    recommend_movies_id=[]
    for j in intersection_movies:
        for i in new_item['genres'].values[j-1]:
            if i==genres:
                recommend_movies_id.append(j)
            
    #print(recommend_movies_id)
    movie=recommend_movies_id
    count=0
    #print(movie)
    # Extract ratings for recommended movies
    rating=[]
    for i in movie:
        rating.append(df[df['item id'] == i]["rating"].values[0])

    # Combine ratings with movie IDs
    new_list = [(x, y) for x, y in zip(rating, movie)]
    movies_rating=sorted(new_list,reverse=True)
    for i in movies_rating:
        movie_title=item[item['movie id']==i[1]]['movie title'].values[0]
        
        print(movie_title,i[0])
        if count<4:# Print only top 5 recommendations
            count+=1
        else:
            break

In [80]:
user_id=int(input("Enter User id:"))
genres=input("Enter geners:")
recommend(user_id,genres)

Enter User id:1
Enter geners:Action
Recommend Movie:
Titanic (1997) 5
Heat (1995) 5
In the Line of Fire (1993) 4
Speed (1994) 4
Face/Off (1997) 4

In [12]:
import pickle

In [28]:
pickle.dump(c_similarity,open('c_similarity.pkl','wb'))

In [32]:
pickle.dump(df.to_dict(),open('df_dict.pkl','wb'))

In [31]:
pickle.dump(item.to_dict(),open('item_dict.pkl','wb'))

In [34]:
pickle.dump(new_item.to_dict(),open('new_item_dict.pkl','wb'))